span{
    border: 2px solid black;
    padding:15px 20px 15px 20px;
    background-color: red;
    border-color: red;
    font: bold;
}
button{
    margin-top: 50px;
    border: none;
    padding-right: 100pxs;
    padding: 16px 20px 16px 0px;
    padding-right: 500px;
    padding-left: 0px;
}
.sec{
    border: 1px solid black;
    width: fit-content;
    margin-left: 450px;
    padding: 25px;
    margin-top: 50px;
    background-color:lightgrey;
    border-radius: 10px;

}
body{
    background-color: grey;
}